<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/{{ theme_path('assets/css/site.css') }}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>     
    <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
    <link rel="shortcut icon" href="/{{ theme_path('assets/images/ico/favicon.ico') }}">
</head><!--/head-->
<body>
    <header id="header">
		{% if page.background %}
        <nav class="navbar navbar-inverse" style="background-color: #{{ page.background }};" role="banner">
		{% else %}
		<nav class="navbar navbar-inverse" role="banner">
		{% endif %}
            <div class="container">
                <h1 class="navbar-header">
					{% if page.color %}
                    <a class="navbar-brand" style="color: #{{ page.color }} !important;" href="/">{{ site.title }}</a>
					{% else %}
                    <a class="navbar-brand" href="/">{{ site.title }}</a>
					{% endif %}
                </h1>
                <ul class="social-share pull-right">
                    <li><a href="https://twitter.com/securepasswrds"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://github.com/dshafik/securepasswords.info"><i class="fa fa-github-alt"></i></a></li>
                </ul>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section>
        <div class="container">
            <div class="row">
				{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">SecurePasswords.info</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://securepasswords.info" property="cc:attributionName" rel="cc:attributionURL">Davey Shafik</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://github.com/dshafik/securepasswords.info" rel="dct:source">http://github.com/dshafik/securepasswords.info</a>.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="https://github.com/dshafik/securepasswords.info">Contribute</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/components/jquery/jquery-built.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
	<script src="/components/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
